/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require datepicker3
*= require_self
*/

body {
  padding-top: 80px;
}

/* Ajout de l'ordre de tri sur les colonnes des tables */

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.page-content {
	margin-top: 60px;
}

/* Affichage fiche */

p {
	font-size: 1.2em;
}

blockquote {
	font-size: 1.3em;
	font-style: italic; 
}

.panel-title {
	font-size: 1.4em;
}

/* Affichage calendrier */

.cal-titre {
	font-size: 1em;
	font-weight: bold;
}

.cal-titre a {
}

.cal-options {
	font-size: .8em;
}

.cal-options-droite {
	font-size: .8em;
	float: right;
}

.table thead tr th {
	padding-top: 0px;
}

/*.fixed {
	position: fixed;
}

.scrollit {
	float: right;
}*/

/* Affichage form */

.form-row {
	margin-top: 1em;
}

.form-label {
	color: #666666;
	text-align: left;
}

.form-value {
	text-align: left;
}

.input-group {
	width: 100%;
}

/* Affichage show */

.show-row {
	margin-top: 1em;
}

.show-label {
	color: #666666;
	text-align: left;
	margin-top: 1em;
}

.show-label {
	color: #666666;
	text-align: left;
	margin-top: 1em;
}

.show-value {
	text-align: left;
	margin-top: 1em;
}

.h1-buttons {
	line-height: 42px;
	margin-bottom: 10.5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 19px;
	text-align: right;
}

/* Divers */

label {
	color: #666666;
}

value {
}
